.Profile {
  margin: 80px 0;
  width: 100%;
}

.User {
  height: 100%;
}
.Blog {
  margin: 100px 0;
  width: 80%;
}

@keyframes Blogitem {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@media (max-width) {
  .Blog {
    width: 100%;
  }
}
