.Logo {
  margin-left: 50px;
}

.Link {
  font-size: 2.5vw;
  font-size: 2.5vh;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: bold;
  display: block;
  margin: 20px 0;
}

@media (min-width: 800px) {
  .Link {
    font-size: 25px;
    letter-spacing: 13px;
  }
}
