.Form {
  margin: 200px auto  auto;
  width: 80%;
  max-width: 80%;
  text-align: center;
  box-shadow: 10px 10px 30px #ccc;
  border: 1px solid #eee;
  box-sizing: border-box;
  padding: 10px;
  transition: all 0.3s ease-in;
  animation: form 0.9s ease-in forwards;
  background: white;
  border-radius: 4px;
}
.LoginForm{
  margin-bottom: 30px
}

.inputStyle {
  margin: 20px auto;
}

.Button {
  font-size: 30px;
  padding: 20px;
  margin: 10px;
  font-weight: bold;
  border-radius: 5px;
  width: 50%;
}

@keyframes form {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (min-width: 900px) {
  .Form {
    width: 50%;
    max-width: 600px;
  }
}
